/* Write custom CSS styling here */

@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&display=swap');

form { 
margin: 0 auto; 
width:500px;
}

body {
  margin:0px;
  text-align:center;
  background-color: #95B46A;
}
#container {
  text-transform: lowercase;
  font-size:35px;
  font-weight: bold;
  padding-top: 10px;  
  margin-top: 275px;
  width: 100%;
  bottom:45%;
  display:block;
}
#flip {
  height:50px;
  overflow:hidden;
  font-family: 'Arima Madurai', cursive;
}
#flip > div > div {
  color: #D1FFC6;
  padding:0px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
  
}
#flip div:first-child {
  animation: show 6s linear;
}
@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
}
#input {
  border: 1px solid #D1FFC6;
  background-color: #D1FFC6;
  animation-name: input;
  animation-duration:12s;
  opacity: 1;
}
@keyframes input{
  0% {opacity: 0;}
  20% {opacity: 0;}
  40% {opacity: 0;}
  60% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 1;}
}
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&display=swap');
#qheader {
    height: 200px;
    background-color:#FFFFEB;
}
.col-12 {
    padding-top: 100px;
    margin: auto;
    color: #3A405A;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 30px;
}
.button{
    width:auto;
    height: auto;
}