/* Write custom CSS styling here */

@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&display=swap');
@import url("https://fonts.googleapis.com/css?  family=Lora:400,400i,700,700i");

form { 
margin: 0 auto; 
width:500px;
}

body {
  margin:0px;
  text-align:center;
  background-color: #79B3A0;
}
#container {
  text-transform: lowercase;
  font-size:35px;
  font-weight: bold;
  padding-top: 10px;  
  margin-top: 275px;
  width: 100%;
  bottom:45%;
  display:block;
}
#flip {
  height:50px;
  overflow:hidden;
  font-family: 'Arima Madurai', cursive;
}
#flip > div > div {
  color: #BBDBD1;
  padding:0px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
  
}
#flip div:first-child {
  animation: show 6s linear;
}
@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
}
#input {
  border: 1px solid #BBDBD1;
  background-color: #BBDBD1;
  animation-name: input;
  animation-duration:12s;
  opacity: 1;
}
@keyframes input{
  0% {opacity: 0;}
  20% {opacity: 0;}
  40% {opacity: 0;}
  60% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 1;}
}
@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital@1&display=swap');
#qheader {
    height: 200px;
    background-color:#8F8F8F;
}
.col-12 {
    padding-top: 100px;
    margin: auto;
    color: #FCECEB;
    font-family: 'Asap Condensed', sans-serif;
    font-size: 30px;
}
.button{
    width:auto;
    height: auto;
}

@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


p {
  border-right: solid 3px #79B3A0 ;
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 18px;
  color: rgba(255,255,255,.70);
  margin: 0 auto;
}

p {
  animation: animated-text 4s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 1000px;}
}

.patterns {
  height: 50vh;
  margin-top: -70px;
  height:350px;
}



svg text {
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #BBDBD1;
  fill: #BAA2AA;
  font-size: 100px;
  font-weight: 700;
  stroke-width: 3;
  animation: textAnimate 15s alternate;
  /* animation-delay: 6s; */
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    stroke: #BBDBD1;
    fill: #BAA2AA;
    opacity: 0;
    
  }

  30% {
    opacity: 0; 
  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    stroke: #BBDBD1;
    fill: #BAA2AA;
  } 
}

#delay {
  animation-name: delay;
  animation-duration:20s;
  opacity: 1;
  color:#BBDBD1;
  font-size: 50px;
  text-align: justify;
  padding-bottom: -100px;
}
@keyframes delay{
  0% {opacity: 0;}
  20% {opacity: 0;}
  40% {opacity: 0;}
  60% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 1;}
}

.opp{
    border: #498370; 
    border-color: #498370;
    background-color: #589D86;
    color: #BBDBD1;
}
.opp:hover {
background-color: #6FAE99;
transition-duration: .5s;
}

#mybutton {
    padding-top: 30px;
    padding-left: 1100px;
    animation-name: mybutton;
    animation-duration:20s;
    opacity: 1;
}
@keyframes mybutton{
  0% {opacity: 0;}
  20% {opacity: 0;}
  40% {opacity: 0;}
  60% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 1;}
}
