{% extends 'base.html'%}

{% block title%}
page2
{% endblock title%}



{% block content%}
<style type="text/css"> body{ background-color:#FFFFEB !important;}</style>
<div id="qheader">
    <div class = "col-12" style="height:inherit;">
       would you rather...
    </div>
</div>

<div class ="row">
    <div class = "col-6"> 
        <a href="page3">
            <img src="/static/images/q2.2.png" alt="" style="width:105%;height:inherit;">
        </a>
    </div>
    <div class = "col-6"> 
        <a href="page3">
            <img src="/static/images/q2.1.png" alt="" style="width:105%;height:inherit;">
        </a>
    </div>
</div>


{% endblock content%}