{% extends 'base.html'%}

{% block title%}
page3
{% endblock title%}



{% block content%}
<style type="text/css"> body{ background-color:#FFFFEB !important;}</style>
<div id="qheader">
    <div class = "col-12" style="height:inherit;">
       which best represents the general state of your bed?
    </div>
</div>

<div class ="row">
    <div class = "col-6"> 
        <a href="page4">
            <img src="/static/images/q3.2.png" alt="" style="width:105%;height:inherit;">
        </a>
    </div>
    <div class = "col-6"> 
        <a href="page4">
            <img src="/static/images/q3.1.png" alt="" style="width:105%;height:inherit;">
        </a>
    </div>
</div>


{% endblock content%}