{% extends 'base.html'%}

{% block title%}
page4
{% endblock title%}



{% block content%}
<style type="text/css"> body{ background-color:#FFFFEB !important;}</style>
<div id="qheader">
    <div class = "col-12" style="height:inherit;">
       which animal would you prefer to be around?
    </div>
</div>

<div class ="row">
    <div class = "col-6"> 
        <a href="finish">
            <img src="/static/images/q4.2.png" alt="" style="width:105%;height:inherit;">
        </a>
    </div>
    <div class = "col-6"> 
        <a href="finish">
            <img src="/static/images/q4.1.png" alt="" style="width:105%;height:inherit;">
        </a>
    </div>
</div>


{% endblock content%}